@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #12181c;
  --color-base-200: #202629;
  --color-base-300: #374045;
  --color-base-content: #f5f3ee;
  --color-primary: #e40712;
  --color-primary-content: #ffffff;
  --color-secondary: #374045;
  --color-secondary-content: #f9fafa;
  --color-accent: #c29e4d;
  --color-accent-content: #12181c;
  --color-neutral: #232b2f;
  --color-neutral-content: #f5f3ee;
  --color-info: #1c74c6;
  --color-info-content: #ffffff;
  --color-success: #00c680;
  --color-success-content: #102723;
  --color-warning: #ffb62a;
  --color-warning-content: #202629;
  --color-error: #f77558;
  --color-error-content: #202629;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.375rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

body {
  @apply p-4;
}

fieldset {
  @apply fieldset;
}

legend {
  @apply fieldset-legend;
}

button {
  @apply btn;
}

button[type="submit"] {
  @apply btn-primary;
}

form > a {
  @apply btn btn-secondary;
}
