---
import { getResources } from "../utils/sanity";
const resources = await getResources();

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Homepage</title>
	</head>
	<body>
		<h1>Homepage</h1>
    {resources.map((resource) => (
      <div key={resource._key}>
        <h2>{resource.type}</h2>
        <p>{resource.entity?.[0]?.name}</p>
      </div>
    ))}
	</body>
</html>
