---
import type { Slug } from "sanity";
import Card from "./Card.astro";

type CardGridItem = {
  name?: string;
  slug?: Slug;
  [key: string]: undefined;
};

type CardTextGetter = (item: CardGridItem) => string | undefined;
type CardHrefGetter = (item: CardGridItem) => string | undefined;

interface Props {
  title: string;
  list?: CardGridItem[];
  type: string;
  getText?: CardTextGetter;
  getHref?: CardHrefGetter;
  btnStyle?: string;
}

const {
  title,
  list = [],
  type,
  getText,
  getHref,
  btnStyle,
} = Astro.props as Props;

const getButton = (item: CardGridItem | undefined) => {
  const url = item ? getHref?.(item) : undefined;

  if (!url) {
    return undefined;
  }

  return {
    url,
    text: "Explore",
    type: (btnStyle as const) || ("secondary" as const),
  };
};
---

<section id={type} class="scroll-mt-16 mt-18">
  {title && <h3 class="font-bold text-xl">{title}</h3>}
  <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 py-4">
    {
      list.map((item) => (
        <Card
          title={item.name ?? ""}
          text={getText?.(item) || undefined}
          button={getButton(item)}
        />
      ))
    }
  </div>
</section>
